.places {
  max-width: 984px;
  width: 100%;
  padding: 92px 0;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1280px) {
  .places {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100vw - 48px);
    row-gap: 73px;
  }
}

@media screen and (max-width: 576px) {
  .places {
    padding: 64px 0 66px;
    max-width: 100vw;
    row-gap: 50px;
  }
}
