.place__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 576px) {
  .place__image {
    grid-row: 3;
    max-width: calc(100vw - 32px);
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    min-width: 100vw;
  }
}
