.place__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .place__image {
    grid-row: 3;
    width: 320px;
    justify-self: center;
  }
}
