.lead {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

@media screen and (max-width: 1280px){
  .lead {
    max-width: calc(100vw - 96px);
    padding-top: 48px;
  }
}

@media screen and (max-width: 1024px){
  .lead {
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px){
  .lead {
    max-width: 100vw;
  }
}

