.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: 440px minmax(min-content, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px minmax(min-content, 1fr);
    column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 288px;
    row-gap: 32px;
    justify-content: center;
  }
}
