.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(440px, calc((100% - 32px)/2*(440/456))) 1fr;
    /*функция calc() выше здесь сохраняет пропорции макета 1024px */
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    /* Охуительная формула, чтоб красиво было. НЕ ТРОГАТЬ. */
    grid-template-columns: minmax(250px, calc((100% - 28px)/2*(448/456))) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 576px) {
  .place {
    grid-template-columns: calc(100vw - 32px);
    row-gap: 32px;
    justify-content: center;
  }
}
